.nav-menu {
  animation: slideIn 0.3s ease;
  .nav-menu-link {
    cursor: pointer;
  }
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
}
