@import "../../styles/variables";

button {
  font-size: 1rem;
  padding: 0.8rem 2.5rem;

  border-radius: 0.5rem;
  color: white;
  background-color: $primary-color;

  border: 1px solid white;

  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    filter: invert(1) grayscale(1);
    background-color: black;
  }
}

.button-inverted {
  color: $primary-color;
  border-color: $primary-color;
  background-color: transparent;
  &:hover {
    filter: grayscale(1);
    border-color: white;
    color: white;
    background: opacify($color: rgba(119, 119, 119, 0), $amount: 0.6);
  }
}
