.p-5 {
  padding-left: 5px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-container {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12rem;
  width: 100%;
  overflow: hidden;
  letter-spacing: 1px;
  color: #111111;
  -webkit-animation: pageFade 0.6s ease-in-out;
          animation: pageFade 0.6s ease-in-out;
}

.hero-container::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(./images/undraw_website_setup_re_d4y9.svg);
  -o-object-fit: cover;
     object-fit: cover;
  background-size: 700px;
  background-repeat: no-repeat;
  background-position-y: 20%;
  opacity: 0.1;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  z-index: -2;
}

@-webkit-keyframes pageFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pageFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-top: 4rem;
}

.hero-text-container h1 {
  font-size: 4.9rem;
  font-weight: 500;
}

.hero-text-container p {
  width: 90%;
  margin-top: 3rem;
  font-size: 1.3rem;
  line-height: 2rem;
}

.hero-text-container p b {
  font-size: 1.5rem;
}

.hero-text-container button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: 1px solid #111111;
  background-color: white;
  color: #111111;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid #111111;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.hero-text-container button:hover {
  background-color: white;
  color: #111111;
}

.hero-img {
  -ms-grid-column-align: right;
      justify-self: right;
  width: 43%;
  padding: 2% 2% 3rem 2%;
  margin-top: 8%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

@media only screen and (min-width: 1200px) {
  .hero-container {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    padding: 0;
    width: 85%;
    max-width: 100vw;
    height: 93.5vh;
    text-align: left;
  }
  .hero-container::before {
    background-size: 1220px;
  }
  .hero-text-container {
    display: block;
    width: 47%;
  }
  .hero-text-container p {
    width: 83%;
    margin-top: 2rem;
    margin-left: -1.7rem;
    padding-left: 1.7rem;
    font-size: 1.3rem;
    border-left: 2px solid lightgray;
  }
  .hero-img {
    margin-left: -2rem;
  }
}

@media only screen and (max-width: 600px) {
  .hero-text-container {
    padding-bottom: 6rem;
  }
  .hero-text-container h1 {
    font-size: 9vw;
  }
  .hero-text-container h1 b {
    font-size: 14vw;
  }
  .hero-text-container button {
    margin-top: 3rem;
  }
  .hero-img {
    display: none;
  }
}
/*# sourceMappingURL=Hero.css.map */