.p-5 {
  padding-left: 5px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-container {
  position: fixed;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem 8%;
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #111111;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.navbar-logo img {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar-logo:hover {
  letter-spacing: 4px;
}

.navbar-logo:hover img {
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

@media only screen and (max-width: 1023px) {
  .navbar-logo {
    font-size: 1.4rem;
  }
}

img {
  margin-top: 5px;
  width: 2.3rem;
}

@media only screen and (max-width: 1023px) {
  img {
    margin-top: 0;
    width: 2.6rem;
  }
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 523px;
  list-style: none;
  color: #111111;
}

@media only screen and (max-width: 1023px) {
  .nav-links {
    display: none;
  }
}

.nav-link {
  text-transform: uppercase;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  padding-bottom: 2px;
  cursor: pointer;
}

.nav-link.active {
  padding: 0.5rem 0.9rem;
}

.nav-link:not(.active-link):hover {
  -webkit-animation: underline 0.4s forwards;
          animation: underline 0.4s forwards;
}

.burger-menu {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media only screen and (min-width: 1023px) {
  .burger-menu {
    display: none;
  }
}

.nav-menu {
  z-index: 98;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 4.6rem;
  left: 0;
  width: 100vw;
  height: calc(100vh - 4.6rem);
  font-size: 1.6rem;
  color: white;
  background-color: #111111;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media only screen and (min-width: 1023px) {
  .nav-menu {
    display: none;
  }
}

.nav-menu .menu-nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}

.drop {
  position: relative;
}

.drop .dropdown {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 3rem;
  left: -1.1rem;
  width: 18rem;
  height: 10rem;
  background-color: white;
  overflow: hidden;
}

.drop .dropdown .dropdown-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.drop .dropdown .dropdown-list .dropdown-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  padding: 1rem 0rem 0rem 1rem;
}

.drop .dropdown .dropdown-list .dropdown-link:hover {
  background-color: rgba(241, 241, 241, 0.747);
}

.active-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 110%;
  font-weight: 700;
}

.service-title {
  font-size: 100%;
  font-weight: 500;
}

.inactive {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.invert {
  background-color: #111111;
  color: white;
}

@-webkit-keyframes slidein {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes underline {
  from {
    -webkit-box-shadow: 0px 2px 0px -1px rgba(255, 255, 255, 0);
            box-shadow: 0px 2px 0px -1px rgba(255, 255, 255, 0);
  }
  to {
    -webkit-box-shadow: 0 2px 0px -1px #111111;
            box-shadow: 0 2px 0px -1px #111111;
  }
}

@keyframes underline {
  from {
    -webkit-box-shadow: 0px 2px 0px -1px rgba(255, 255, 255, 0);
            box-shadow: 0px 2px 0px -1px rgba(255, 255, 255, 0);
  }
  to {
    -webkit-box-shadow: 0 2px 0px -1px #111111;
            box-shadow: 0 2px 0px -1px #111111;
  }
}
/*# sourceMappingURL=Navbar.css.map */