.p-5 {
  padding-left: 5px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery-section-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 55rem;
  background-color: transparent;
  z-index: 1;
  overflow: hidden;
}

.gallery-section-container .slide-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 1rem;
  width: 25%;
  height: 100%;
  left: 13%;
  z-index: 10;
  font-size: 120%;
}

.gallery-section-container .slide-text-wrapper h2 {
  font-size: 300%;
  padding-bottom: 2rem;
}

.gallery-section-container .slide-text-wrapper p {
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  max-width: 37ch;
  line-height: 1.7rem;
  border-left: 1px solid rgba(0, 0, 0, 0.315);
}

.gallery-section-container .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25%;
  width: 100%;
}

.gallery-section-container .slider-image {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.gallery-section-container button {
  margin-left: 1.5rem;
  padding: 1rem;
  width: 10rem;
}

@media only screen and (min-width: 1280px) {
  .gallery-section-container .active .slider-image {
    -webkit-animation: animateSlide 1s;
            animation: animateSlide 1s;
  }
  @-webkit-keyframes animateSlide {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes animateSlide {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.gallery-section-container .right-arrow {
  position: absolute;
  top: 50%;
  right: 2rem;
  font-size: 3rem;
  color: #111111;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 10;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.gallery-section-container .right-arrow:active {
  opacity: 0.3;
}

.gallery-section-container .left-arrow {
  position: absolute;
  top: 50%;
  left: 2rem;
  font-size: 3rem;
  color: #111111;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 10;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.gallery-section-container .left-arrow:active {
  opacity: 0.3;
}

.gallery-section-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 355px;
}

@media only screen and (max-width: 1400px) {
  .gallery-section-container {
    height: 80rem;
  }
}

@media only screen and (max-width: 500px) {
  .gallery-section-container {
    font-size: 90%;
  }
}

@media only screen and (max-width: 1280px) {
  .gallery-section-container {
    height: 50rem;
    text-align: center;
  }
  .gallery-section-container .slide-text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: calc(50% - 30vw);
    width: 60vw;
    z-index: 0;
  }
  .gallery-section-container .slide-text-wrapper h2 {
    width: 130%;
  }
  .gallery-section-container .slide-text-wrapper p {
    border: none;
    padding: 0;
  }
  .gallery-section-container .slider-image {
    position: absolute;
    top: -45%;
    left: -60%;
    width: 250%;
    height: auto;
    margin: auto;
    opacity: 0.1;
    z-index: -2;
  }
  .gallery-section-container .slider-image > .active {
    -webkit-animation: none;
            animation: none;
  }
  .gallery-section-container .row {
    padding: 0rem 1.3rem;
  }
  .gallery-section-container button {
    padding: 1.2rem 2.3rem;
    width: 9rem;
    margin: 0;
    margin-top: 1.6rem;
  }
  .gallery-section-container .right-arrow {
    right: 0.3rem;
  }
  .gallery-section-container .left-arrow {
    left: 0.3rem;
  }
}
/*# sourceMappingURL=Gallery.css.map */