@import "../../styles/variables";

.gallery-section-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55rem;
  background-color: transparent;
  z-index: 1;
  overflow: hidden;

  .slide-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 1rem;
    width: 25%;
    height: 100%;

    left: 13%;
    z-index: 10;

    font-size: 120%;
    h2 {
      font-size: 300%;
      padding-bottom: 2rem;
    }
    p {
      margin-bottom: 2rem;
      padding-left: 1.5rem;
      max-width: 37ch;
      line-height: 1.7rem;
      border-left: 1px solid rgba(0, 0, 0, 0.315);
    }
  }

  .slider {
    display: flex;
    margin-left: 25%;

    width: 100%;
  }

  .slider-image {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
  }

  button {
    margin-left: 1.5rem;
    padding: 1rem;
    width: 10rem;
  }

  @media only screen and (min-width: 1280px) {
    .active {
      .slider-image {
        animation: animateSlide 1s;
        @keyframes animateSlide {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }
    }
  }

  .right-arrow {
    position: absolute;
    top: 50%;
    right: 2rem;
    font-size: 3rem;
    color: $primary-color;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    transition: opacity 0.1s;
    &:active {
      opacity: 0.3;
    }
  }
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 2rem;
    font-size: 3rem;
    color: $primary-color;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    transition: opacity 0.1s;
    &:active {
      opacity: 0.3;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 355px;
  }

  @media only screen and (max-width: 1400px) {
    height: 80rem;
  }
  @media only screen and (max-width: 500px) {
    font-size: 90%;
  }

  @media only screen and (max-width: 1280px) {
    height: 50rem;
    text-align: center;

    .slide-text-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      left: calc(50% - 30vw);

      width: 60vw;
      z-index: 0;

      h2 {
        width: 130%;
      }

      p {
        border: none;
        padding: 0;
      }
    }
    .slider-image {
      position: absolute;
      top: -45%;
      left: -60%;
      width: 250%;
      height: auto;
      margin: auto;

      opacity: 0.1;
      z-index: -2;
      > .active {
        animation: none;
      }
    }

    .row {
      padding: 0rem 1.3rem;
    }
    button {
      padding: 1.2rem 2.3rem;
      width: 9rem;
      margin: 0;
      margin-top: 1.6rem;
    }

    .right-arrow {
      right: 0.3rem;
    }
    .left-arrow {
      left: 0.3rem;
    }
  }
}
